body {
  background-color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s ease-in-out;
}

.card {
  background-color: #333;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card-title {
  font-weight: 600;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-control {
  background-color: #444;
  border: none;
  border-radius: 10px;
  color: #eee;
  transition: background-color 0.3s ease-in-out;
}

.form-control::placeholder {
  color: #888;
}

.form-control:focus {
  background-color: #444;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  animation: pulse 1s ease-in-out;
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

.btn-primary {
  background-color: #0d6efd;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0a58ca;
}

.btn-primary:focus {
  box-shadow: none;
}

.list-group-item {
  background-color: #333;
  border: none;
  border-radius: 10px;
  color: #eee;
  transition: transform 0.3s ease-in-out;
}

.list-group-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.font-weight-bold {
  font-weight: 600;
}

.text-muted {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.text-muted:hover {
  color: white;
}
